## datetime模块中的数据类型
- data 以公历形式存储日期（年、月、日）
- time 将时间存储为时、分、秒、毫秒
- datatime 存储日期和时间
- timedelta 表示两个datetime之间的差

## 字符串和datetime的相互转换

In [1]:
from datetime import datetime

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2018, 9, 2, 10, 58, 8, 96597)

In [7]:
now.year, now.month, now.day, now.hour, now.minute, now.second

(2018, 9, 2, 10, 58, 8)

In [11]:
from dateutil.parser import parse
import pandas as pd

In [12]:
parse('2011-2-5')

datetime.datetime(2011, 2, 5, 0, 0)

In [13]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [14]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [15]:
idx = pd.to_datetime(datestrs + [None])

In [16]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [17]:
pd.isnull(idx)

array([False, False,  True])

In [21]:
from datetime import datetime
import numpy as np

In [22]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
   ....:          datetime(2011, 1, 7), datetime(2011, 1, 8),
   ....:          datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [23]:
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [24]:
ts = pd.Series(np.random.randn(6), index=dates)

In [25]:
ts

2011-01-02    0.858784
2011-01-05    0.329254
2011-01-07   -0.005206
2011-01-08    0.534225
2011-01-10   -0.411104
2011-01-12    0.629748
dtype: float64

In [26]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [27]:
ts + ts[::2]

2011-01-02    1.717568
2011-01-05         NaN
2011-01-07   -0.010412
2011-01-08         NaN
2011-01-10   -0.822208
2011-01-12         NaN
dtype: float64

In [28]:
ts.index.dtype

dtype('<M8[ns]')

In [29]:
ts[ts.index[2]]

-0.0052058656297722114

In [30]:
longer_ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))

In [31]:
longer_ts

2000-01-01   -0.670551
2000-01-02    0.645525
2000-01-03    2.152476
2000-01-04   -1.100615
2000-01-05   -0.769323
2000-01-06   -0.180184
2000-01-07    0.109700
2000-01-08    0.724024
2000-01-09   -1.050776
2000-01-10    0.767267
2000-01-11    1.255781
2000-01-12   -0.559452
2000-01-13    0.330521
2000-01-14   -0.283046
2000-01-15   -2.092174
2000-01-16   -0.115817
2000-01-17   -0.979003
2000-01-18    0.847147
2000-01-19    0.884916
2000-01-20    0.091741
2000-01-21    0.156514
2000-01-22   -1.707772
2000-01-23   -1.737809
2000-01-24   -1.518048
2000-01-25   -0.822824
2000-01-26    0.042766
2000-01-27   -0.811825
2000-01-28   -2.447904
2000-01-29   -0.574756
2000-01-30   -1.235084
                ...
2002-08-28    1.054616
2002-08-29    0.793366
2002-08-30   -0.767673
2002-08-31   -0.922342
2002-09-01   -1.453468
2002-09-02    2.562827
2002-09-03    1.588496
2002-09-04    1.116003
2002-09-05   -1.207583
2002-09-06   -0.609837
2002-09-07   -0.392635
2002-09-08    0.194612
2002-09-09   -0.861801
2002-09-10   -0.450224
2002-09-11   -0.271885
2002-09-12   -0.003809
2002-09-13    2.010456
2002-09-14   -0.522370
2002-09-15   -1.115666
2002-09-16    1.104241
2002-09-17    1.415427
2002-09-18   -1.427897
2002-09-19   -0.417603
2002-09-20   -0.777878
2002-09-21    0.453770
2002-09-22   -0.659938
2002-09-23    1.014617
2002-09-24    0.009995
2002-09-25    0.125117
2002-09-26    0.366191
Freq: D, Length: 1000, dtype: float64

In [32]:
longer_ts['2001']

2001-01-01   -1.136145
2001-01-02    1.133205
2001-01-03    0.216035
2001-01-04   -0.038758
2001-01-05    0.285808
2001-01-06    1.130877
2001-01-07    0.512289
2001-01-08   -1.088749
2001-01-09    0.445960
2001-01-10   -1.533602
2001-01-11   -0.703268
2001-01-12   -1.859568
2001-01-13   -0.077195
2001-01-14   -0.156563
2001-01-15   -1.119659
2001-01-16    0.774043
2001-01-17    1.512813
2001-01-18    0.575795
2001-01-19    0.933928
2001-01-20    1.480336
2001-01-21    0.887884
2001-01-22    0.340076
2001-01-23    0.868885
2001-01-24   -0.579204
2001-01-25    2.628545
2001-01-26    0.420770
2001-01-27   -1.382631
2001-01-28   -0.668376
2001-01-29    0.784269
2001-01-30   -1.597467
                ...
2001-12-02    0.632233
2001-12-03   -0.613352
2001-12-04   -0.577833
2001-12-05   -1.023279
2001-12-06   -0.936198
2001-12-07    0.265356
2001-12-08   -0.699852
2001-12-09   -0.404033
2001-12-10   -0.403478
2001-12-11   -1.662911
2001-12-12    0.697255
2001-12-13    0.598931
2001-12-14   -1.379925
2001-12-15   -0.110590
2001-12-16   -0.460709
2001-12-17    1.264052
2001-12-18   -0.595457
2001-12-19    0.421058
2001-12-20   -0.543289
2001-12-21   -1.161619
2001-12-22    1.296676
2001-12-23    0.272118
2001-12-24   -1.128584
2001-12-25   -0.137239
2001-12-26    1.067941
2001-12-27    0.142715
2001-12-28   -0.803463
2001-12-29    0.880706
2001-12-30    0.326173
2001-12-31   -1.344949
Freq: D, Length: 365, dtype: float64

In [36]:
ts

2011-01-02    0.858784
2011-01-05    0.329254
2011-01-07   -0.005206
2011-01-08    0.534225
2011-01-10   -0.411104
2011-01-12    0.629748
dtype: float64

In [37]:
ts[datetime(2011, 1, 8):]

2011-01-08    0.534225
2011-01-10   -0.411104
2011-01-12    0.629748
dtype: float64

In [38]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
   ....:                           '1/2/2000', '1/3/2000'])

In [39]:
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [40]:
dup_ts.index.is_unique

False